<div class="main main-table">
    <div class="page-top">
      <div class="page-logo">
        <h2>･:*+.About Coments!.:+*</h2>
      </div>
      <div class="top-contents">
        <p>簡単に思ったことや感じたことを記録出来る</p>
        <p>ブログよりも気軽に利用出来るコメント機能です。</p>
      </div>
    </div>
    </div>
</div>
