.page-top {
  text-align: center;
  padding-top: 5%;
  background: url("/assets/chocomint-dd39471de28e30d45d5d013c82e417e1b44bcf54dc9339e60d6ee8e385b19b6b.jpg") no-repeat center center;
  background-size: cover;
  height: 760px;
}

.top-menus {
  margin-top: 70px;
  padding: 15px;
  background-color: rgba(163, 235, 177, 0.56);
}

.login-btn {
  margin-top: 15%;
}
