/* ユーザーページ ================================ */
.user {
  background-color: wheat;
  text-align: center;
  font-size: 20px;
}

/* お気に入り一覧 ================================ */
.favorites {
  margin-top: 10px;
}

.fav-list-item {
  border-top: dotted 2px;
}

.fav-user-name {
  background-color: #aff6ff;
  font-size: 20px;
}

.fav-coment {
  background-color: #b2ffc3;
  font-size: 23px;
}
